In [3]:
pip install pandas-datareader

Collecting pandas-datareader
  Using cached pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\users\asas9\anaconda3\lib\site-packages (from pandas-datareader) (5.2.1)
Requirement already satisfied: pandas>=0.23 in c:\users\asas9\anaconda3\lib\site-packages (from pandas-datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\asas9\anaconda3\lib\site-packages (from pandas-datareader) (2.32.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asas9\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asas9\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asas9\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asas9\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asas9\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asas9\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asas9\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asas9\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2024.7.4)
Requirement already satisfied: six>=1.5 in c:\users\asas9\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)
Using cached pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas_datareader as data
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [41]:
import yfinance as yf
import pandas as pd

# 定义股票代码和时间范围
tickers = ['GOOG', 'AMZN', 'MSFT', 'AAPL', 'META']  # Facebook 现在的代码是 META
start_date = '2014-01-01'
end_date = '2024-11-14'

# 创建一个空的数据框用于存储合并后的数据
data_frames = []

# 获取每个股票的数据
for ticker in tickers:
    df = yf.download(ticker, start=start_date, end=end_date)
    # 添加股票代码作为列的顶层标签
    df.columns = pd.MultiIndex.from_product([[ticker], df.columns])
    data_frames.append(df)

# 合并所有股票的数据
combined_df = pd.concat(data_frames, axis=1)

# 显示结果
print(combined_df)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  GOOG                                                  \
                  Open        High         Low       Close   Adj Close
Date
2014-01-02   27.782366   27.839401   27.603037   27.724083   27.656164
2014-01-03   27.770908   27.818977   27.520098   27.521841   27.454418
2014-01-06   27.721344   27.867046   27.557707   27.828691   27.760517
2014-01-07   28.019974   28.385853   27.924334   28.365179   28.295689
2014-01-08   28.543015   28.575891   28.226450   28.424210   28.354576
...                ...         ...         ...         ...         ...
2024-11-07  179.110001  182.580002  178.889999  182.279999  182.279999
2024-11-08  182.000000  182.350006  179.570007  179.860001  179.860001
2024-11-11  180.070007  182.085007  179.990005  181.970001  181.970001
2024-11-12  181.380005  184.024994  180.990005  183.320007  183.320007
2024-11-13  182.149994  182.615005  180.119995  180.490005  180.490005

                             AMZN                                      ...  \
               Volume        Open        High         Low       Close  ...
Date                                                                   ...
2014-01-02   73129082   19.940001   19.968000   19.701000   19.898500  ...
2014-01-03   66917888   19.914499   20.135500   19.811001   19.822001  ...
2014-01-06   71037271   19.792500   19.850000   19.421000   19.681499  ...
2014-01-07  102486711   19.752001   19.923500   19.714500   19.901501  ...
2014-01-08   90036218   19.923500   20.150000   19.802000   20.096001  ...
...               ...         ...         ...         ...         ...  ...
2024-11-07   16730400  207.440002  212.250000  207.190002  210.050003  ...
2024-11-08   15021500  209.720001  209.960007  207.440002  208.179993  ...
2024-11-11   12503400  208.500000  209.649994  205.589996  206.839996  ...
2024-11-12   14065800  208.369995  209.539993  206.009995  208.910004  ...
2024-11-13   13955200  209.399994  215.089996  209.139999  214.100006  ...

                  AAPL                                           META  \
                   Low       Close   Adj Close     Volume        Open
Date
2014-01-02   19.715000   19.754642   17.234299  234684800   54.830002
2014-01-03   19.301071   19.320715   16.855722  392467600   55.020000
2014-01-06   19.057142   19.426071   16.947645  412610800   54.419998
2014-01-07   19.211430   19.287144   16.826439  317209200   57.700001
2014-01-08   19.238930   19.409286   16.933006  258529600   57.599998
...                ...         ...         ...        ...         ...
2024-11-07  224.570007  227.479996  227.229996   42137700  576.890015
2024-11-08  226.410004  226.960007  226.960007   38328800  591.539978
2024-11-11  221.500000  224.229996  224.229996   42005600  586.359985
2024-11-12  223.360001  224.229996  224.229996   40398300  588.539978
2024-11-13  222.759995  225.119995  225.119995   48528500  582.609985


                  High         Low       Close   Adj Close    Volume
Date
2014-01-02   55.220001   54.189999   54.709999   54.545773  43195500
2014-01-03   55.650002   54.529999   54.560001   54.396221  38246200
2014-01-06   57.259998   54.049999   57.200001   57.028294  68852600
2014-01-07   58.549999   57.220001   57.919998   57.746132  77207400
2014-01-08   58.410000   57.230000   58.230000   58.055202  56682400
...                ...         ...         ...         ...       ...
2024-11-07  594.799988  575.210022  591.700012  591.700012  14653700
2024-11-08  593.099976  584.520020  589.340027  589.340027   9415700
2024-11-11  587.000000  576.510010  583.169983  583.169983  10209100
2024-11-12  599.659973  580.380005  584.820007  584.820007  16287700
2024-11-13  585.640015  575.169983  580.000000  580.000000  10747700

[2736 rows x 30 columns]

In [43]:
combined_df.columns.names = ['股票代號', '股票資訊']

In [45]:
combined_df

股票代號              GOOG                                                  \
股票資訊              Open        High         Low       Close   Adj Close
Date
2014-01-02   27.782366   27.839401   27.603037   27.724083   27.656164
2014-01-03   27.770908   27.818977   27.520098   27.521841   27.454418
2014-01-06   27.721344   27.867046   27.557707   27.828691   27.760517
2014-01-07   28.019974   28.385853   27.924334   28.365179   28.295689
2014-01-08   28.543015   28.575891   28.226450   28.424210   28.354576
...                ...         ...         ...         ...         ...
2024-11-07  179.110001  182.580002  178.889999  182.279999  182.279999
2024-11-08  182.000000  182.350006  179.570007  179.860001  179.860001
2024-11-11  180.070007  182.085007  179.990005  181.970001  181.970001
2024-11-12  181.380005  184.024994  180.990005  183.320007  183.320007
2024-11-13  182.149994  182.615005  180.119995  180.490005  180.490005

股票代號                         AMZN                                      ...  \
股票資訊           Volume        Open        High         Low       Close  ...
Date                                                                   ...
2014-01-02   73129082   19.940001   19.968000   19.701000   19.898500  ...
2014-01-03   66917888   19.914499   20.135500   19.811001   19.822001  ...
2014-01-06   71037271   19.792500   19.850000   19.421000   19.681499  ...
2014-01-07  102486711   19.752001   19.923500   19.714500   19.901501  ...
2014-01-08   90036218   19.923500   20.150000   19.802000   20.096001  ...
...               ...         ...         ...         ...         ...  ...
2024-11-07   16730400  207.440002  212.250000  207.190002  210.050003  ...
2024-11-08   15021500  209.720001  209.960007  207.440002  208.179993  ...
2024-11-11   12503400  208.500000  209.649994  205.589996  206.839996  ...
2024-11-12   14065800  208.369995  209.539993  206.009995  208.910004  ...
2024-11-13   13955200  209.399994  215.089996  209.139999  214.100006  ...

股票代號              AAPL                                           META  \
股票資訊               Low       Close   Adj Close     Volume        Open
Date
2014-01-02   19.715000   19.754642   17.234299  234684800   54.830002
2014-01-03   19.301071   19.320715   16.855722  392467600   55.020000
2014-01-06   19.057142   19.426071   16.947645  412610800   54.419998
2014-01-07   19.211430   19.287144   16.826439  317209200   57.700001
2014-01-08   19.238930   19.409286   16.933006  258529600   57.599998
...                ...         ...         ...        ...         ...
2024-11-07  224.570007  227.479996  227.229996   42137700  576.890015
2024-11-08  226.410004  226.960007  226.960007   38328800  591.539978
2024-11-11  221.500000  224.229996  224.229996   42005600  586.359985
2024-11-12  223.360001  224.229996  224.229996   40398300  588.539978
2024-11-13  222.759995  225.119995  225.119995   48528500  582.609985

股票代號
股票資訊              High         Low       Close   Adj Close    Volume
Date
2014-01-02   55.220001   54.189999   54.709999   54.545773  43195500
2014-01-03   55.650002   54.529999   54.560001   54.396221  38246200
2014-01-06   57.259998   54.049999   57.200001   57.028294  68852600
2014-01-07   58.549999   57.220001   57.919998   57.746132  77207400
2014-01-08   58.410000   57.230000   58.230000   58.055202  56682400
...                ...         ...         ...         ...       ...
2024-11-07  594.799988  575.210022  591.700012  591.700012  14653700
2024-11-08  593.099976  584.520020  589.340027  589.340027   9415700
2024-11-11  587.000000  576.510010  583.169983  583.169983  10209100
2024-11-12  599.659973  580.380005  584.820007  584.820007  16287700
2024-11-13  585.640015  575.169983  580.000000  580.000000  10747700

[2736 rows x 30 columns]

In [51]:
combined_df.xs(key='GOOG', axis=1, level='股票代號')

股票資訊,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-02,27.782366,27.839401,27.603037,27.724083,27.656164,73129082
2014-01-03,27.770908,27.818977,27.520098,27.521841,27.454418,66917888
2014-01-06,27.721344,27.867046,27.557707,27.828691,27.760517,71037271
2014-01-07,28.019974,28.385853,27.924334,28.365179,28.295689,102486711
2014-01-08,28.543015,28.575891,28.226450,28.424210,28.354576,90036218
...,...,...,...,...,...,...
2024-11-07,179.110001,182.580002,178.889999,182.279999,182.279999,16730400
2024-11-08,182.000000,182.350006,179.570007,179.860001,179.860001,15021500
2024-11-11,180.070007,182.085007,179.990005,181.970001,181.970001,12503400
2024-11-12,181.380005,184.024994,180.990005,183.320007,183.320007,14065800
2024-11-13,182.149994,182.615005,180.119995,180.490005,180.490005,13955200

In [55]:
for ticker in ['GOOG', 'AMZN', 'MSFT', 'AAPL', 'META']:
    combined_df[(ticker, 'plus')] = combined_df[(ticker, 'Open')] + combined_df[(ticker, 'High')]

In [57]:
combined_df

股票代號              GOOG                                                  \
股票資訊              Open        High         Low       Close   Adj Close
Date
2014-01-02   27.782366   27.839401   27.603037   27.724083   27.656164
2014-01-03   27.770908   27.818977   27.520098   27.521841   27.454418
2014-01-06   27.721344   27.867046   27.557707   27.828691   27.760517
2014-01-07   28.019974   28.385853   27.924334   28.365179   28.295689
2014-01-08   28.543015   28.575891   28.226450   28.424210   28.354576
...                ...         ...         ...         ...         ...
2024-11-07  179.110001  182.580002  178.889999  182.279999  182.279999
2024-11-08  182.000000  182.350006  179.570007  179.860001  179.860001
2024-11-11  180.070007  182.085007  179.990005  181.970001  181.970001
2024-11-12  181.380005  184.024994  180.990005  183.320007  183.320007
2024-11-13  182.149994  182.615005  180.119995  180.490005  180.490005

股票代號                         AMZN                                      ...  \
股票資訊           Volume        Open        High         Low       Close  ...
Date                                                                   ...
2014-01-02   73129082   19.940001   19.968000   19.701000   19.898500  ...
2014-01-03   66917888   19.914499   20.135500   19.811001   19.822001  ...
2014-01-06   71037271   19.792500   19.850000   19.421000   19.681499  ...
2014-01-07  102486711   19.752001   19.923500   19.714500   19.901501  ...
2014-01-08   90036218   19.923500   20.150000   19.802000   20.096001  ...
...               ...         ...         ...         ...         ...  ...
2024-11-07   16730400  207.440002  212.250000  207.190002  210.050003  ...
2024-11-08   15021500  209.720001  209.960007  207.440002  208.179993  ...
2024-11-11   12503400  208.500000  209.649994  205.589996  206.839996  ...
2024-11-12   14065800  208.369995  209.539993  206.009995  208.910004  ...
2024-11-13   13955200  209.399994  215.089996  209.139999  214.100006  ...

股票代號              META                                                \
股票資訊              High         Low       Close   Adj Close    Volume
Date
2014-01-02   55.220001   54.189999   54.709999   54.545773  43195500
2014-01-03   55.650002   54.529999   54.560001   54.396221  38246200
2014-01-06   57.259998   54.049999   57.200001   57.028294  68852600
2014-01-07   58.549999   57.220001   57.919998   57.746132  77207400
2014-01-08   58.410000   57.230000   58.230000   58.055202  56682400
...                ...         ...         ...         ...       ...
2024-11-07  594.799988  575.210022  591.700012  591.700012  14653700
2024-11-08  593.099976  584.520020  589.340027  589.340027   9415700
2024-11-11  587.000000  576.510010  583.169983  583.169983  10209100
2024-11-12  599.659973  580.380005  584.820007  584.820007  16287700
2024-11-13  585.640015  575.169983  580.000000  580.000000  10747700

股票代號              GOOG        AMZN        MSFT        AAPL         META
股票資訊              plus        plus        plus        plus         plus
Date
2014-01-02   55.621767   39.908001   74.750000   39.739643   110.050003
2014-01-03   55.589886   40.049999   74.420002   39.520000   110.670002
2014-01-06   55.588390   39.642500   73.739998   38.723213   111.679996
2014-01-07   56.405827   39.675501   72.820004   38.938572   116.250000
2014-01-08   57.118906   40.073500   72.139999   38.727499   116.009998
...                ...         ...         ...         ...          ...
2024-11-07  361.690002  419.690002  848.130005  452.510010  1171.690002
2024-11-08  364.350006  419.680008  851.820007  455.830002  1184.639954
2024-11-11  362.155014  418.149994  847.329987  450.699997  1173.359985
2024-11-12  365.404999  417.909988  842.690002  450.139999  1188.199951
2024-11-13  364.764999  424.489990  850.970001  450.659988  1168.250000

[2736 rows x 35 columns]